
h1{
    font-family: 'Big Shoulders Inline Text', cursive;
    text-align: center;
    font-size: 60px;
}

h2{
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size:35px;
    letter-spacing:2px;
    font-weight: normal;
}

h3, h4{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
    background-color: #c9c3b6;
}

h3{
    text-align: left;
    margin: 40px;
}

h4{
    text-align: right;
    margin: 40px;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    background-color: #c9c3b6;
}

body{
    background-color: #1d3752;
}

.childhood_1{
    align-items: center;
}